/*@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
*/
.mainpage{
    font-family: 'Gugi', cursive;

}
.avatarstyle img{
    width: 200px;
    height: 200px;
}

.mainpage h1{

    text-align: centers;
}